*.png
*.pyc*
*.zip
*.json
*.spec
*.log
*.xml
*.ini
.vs/
.idea/
__pycache__/
icons/
dist/
build/
schematicEditor.kdev4
reveda.log
.VSCodeCounter/
.gitmodules
/.ropeproject/
library.json
*.prn
*.raw
.env
.gitignore
reveda.conf
